# Environment variables
.env
.env.local
.env.production

# Logs
logs/
*.log

# Static and Media files
staticfiles/
backend/media/

# Database
*.sqlite3

venv/
*.pyc
__pycache__/

github-actions-key
github-actions-key.pub

.DS_Store
