@import "tailwindcss";

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes boldness {
  0% { font-weight: 900; }
  100% { font-weight: 400; }
}

.animate-boldness {
  animation: boldness 2s ease-in-out infinite alternate;
}


body {
  margin: 0;
  padding: 0;
}